*{
    margin: 0;
    padding: 0;
}

/*Estilos generales*/
body{
    background-color: beige;
    font-family: 'Roboto', sans-serif;
}

/* se utilizo para todas las listas*/
.listasNavBar, .listasFooter{
    list-style: none;
}

/*para diferenciar el nombre de los paises y el logo*/
.nombrePais{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
}

#logo{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
}

.gladContainer{
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border: 5px solid green;
    border-radius: 15px;
}

.img{
    width: auto;
    height: 315px;
}

.texto{
    font-size: 20px;
}

.footer{
    background-color: green;
    text-align: center;
    margin: 20px 20px 20px 20px;
    font-size: 25px;
}
.redesSociales{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.tituloPais{
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}

.listasNavBar, .listasFooter {
    display: flex;
}

@media screen and (max-width:390px) {

    

    .img{
        width: 20em;
        height: auto;
    }

    #video{
        width: 20em;
        height: auto;
    }
    
    .listasNavBar{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
    }

    .listasFooter {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    
    /*Aplicando grid para el main*/
    
    .gladContainer{
        display: flex;
        flex-direction: column;
        font-size: x-small;
    }
    
    /*Para acomodar formulario*/
    
    fieldset{
        font-size: x-small;
        border: none;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 768px)  {
    /*Aplicando flexbox para el nav bar y footer*/

.listasNavBar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
}

.listasFooter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

/*Aplicando grid para el main*/

.gladContainer{
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-content: space-around;
    align-items: center;
}

/*Para acomodar formulario*/

fieldset{
    font-size: 20px;
    border: none;
    display: flex;
    flex-direction: column;
}
}

.navbar{
    /* background-color: green; */
    text-align: center;
    margin: 20px 20px 20px 20px;
}

.container-fluid{
    background-color: green;
}

footer{
    background-color: green;
    color: white;
}

.row{
    color: white;
}

.textoFooter{
    padding: 4rem;
}